dependency-reduced-pom.xml
node_modules
index/data
target
dist
build
.DS_Store
*~

index/tokens.txt
index/testdata/3598/document.txt
.gitignore
index/testdata/3598/entity-tags.json
.gitignore
index/testdata/3598/entity-tags-errors.json
